
<div class="container" style=" "  >
  <div class="modal-header " >
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="iq-card" style="">
    <div class="iq-card-body">
      <form class="needs-validation" novalidate="">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nom</label>
            <input type="text" class="form-control" id="validationCustom01" required=""  disabled>

          </div>
          <div class="col-md-8 mb-3">
            <label for="validationCustom02">Prénom</label>
            <input type="text" class="form-control" id="validationCustom02" required=""  disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Année-academique </label>
            <input type="text" class="form-control" id="validationCustom02" required=""  disabled>
          </div>

          <div class="col-md-4 mb-3">
            <label for="validationCustom04">Filière</label>

            <input type="text" class="form-control" id="validationCustom02" required=""  disabled>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom04">Niveau</label>
            <input type="text" class="form-control" id="validationCustom02" required=""  disabled>


          </div>
          <div class="col-md-5 mb-3" >
            <label class="form-label">Bulletin</label>
            <div class="form-control"  style="height: 3rem" >
              <input type="file" style="height: 3.5rem">
            </div>
          </div>
        </div>


      </form>
    </div>
  </div>

</div>



