
<div class="form-body without-side" style="height: 300px" >
  <div class="website-logo">
    <img src="assets/app-login/images/logotresor.png">
    <!--  <a href="index.html">
        <div class="logo">
          <img class="logo-size" src="assets/images/logo-light.svg" alt="">
        </div>
      </a>-->
  </div>
  <div class="row">
    <div class="img-holder">
      <div class="bg"></div>
      <div class="info-holder">
        <img src="assets/app-login/images/graphic3.svg" alt="">
      </div>
    </div>
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items" >
          <p style="text-align: center; text-transform: capitalize;font-weight: bolder;margin-top: 20px">Connexion</p>
          <form >
            <mat-form-field style="width: 270px">
              <mat-label>Nom d'utilisateur</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Mot de passe</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
            <div class="form-button">
              <button id="submit" style="background:darkorange ;width: 100%" type="submit" class="ibtn"  (click)="loginredirect()">Login</button>
              <a routerLink="forgot_password" style="color: black;position: relative;left:170px;">Forget password?</a>

            </div>

          </form>


          <!--  <div class="other-links" id="bas">
              <div class="text">Or login with</div>
              <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
            </div>
            <div class="page-links">
              <a href="register18.html">Register new account</a>
            </div>-->
        </div>
      </div>

    </div>
  </div>
</div>


