<div class="container" >
  <div class="iq-card" style="margin-top: 20px;border: red ">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
        <h4 class="" style="margin-left: 450px;font-family: 'Poppins', sans-serif">Demande de stage</h4>
      </div>
    </div>
    <div class="iq-card-body">
      <form class="needs-validation" novalidate="">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nom</label>
            <input type="text" class="form-control" id="validationCustom01" required="">

          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Prénom</label>
            <input type="text" class="form-control" id="validationCustom02" required="">
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Année-academique </label>
            <input type="text" class="form-control" id="validationCustom02" required="">
          </div>

          <div class="col-md-4 mb-3">
            <label for="validationCustom04">Filière</label>
            <select class="form-control" id="validationCustom04" required="">
              <option selected="" disabled="" value="">Choose...</option>
              <option>...</option>
            </select>

          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom04">Niveau</label>
            <select class="form-control" id="validationCustom04" required="">
              <option selected="" disabled="" value="">Choose...</option>
              <option>...</option>
            </select>

          </div>
        </div>

        <div class="col-md-12 mb-3" >
          <label class="form-label">Joindre un CV</label>
          <div class="form-control"  style="height: 3rem" >
            <input type="file" style="height: 3.5rem">
          </div>
        </div>
        <button class="btn btn-primary" type="submit" style="margin-left: 930px; width: 170px;height: 40px">Submit form</button>
      </form>
    </div>
  </div>

</div>

