<div class="card" style="margin-top: 50px">
  <div class="card-header border-0">
    <h3 class="card-title"><b>Liste des demandes</b></h3>
  </div>
  <div class="card-body table-responsive p-0">
    <table class="table table-striped table-valign-middle">
      <thead>
      <tr style="background-color: black;color: white">
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Année académique</th>
        <th>classe</th>
        <th>Filiere</th>
        <th>Action</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let demandes of demande" >
        <td>{{ demandes.iddonnetheme}}</td>
        <td>{{ demandes.nom}}</td>
        <td>{{ demandes.prenoms}}</td>
        <td>{{ demandes.annee_academique}}</td>
        <td>{{ demandes.classe}}</td>
        <td>{{ demandes.filiere}}</td>
        <td><button type="button" class="btn btn-outline-success" (click)="Affidetails(demandes)">Détails</button></td>
        <td><div class="badge badge-success">{{ demandes.statut }}</div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

