
<div class="container" style=""  >
  <div class="modal-header" >
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="iq-card" style="">
    <div class="iq-card-body">
      <form class="needs-validation" novalidate="">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nom</label>
            <input type="text" class="form-control"  id="validationCustom01" disabled>

          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Prénom</label>
            <input type="text" class="form-control" id="validationCustom02" disabled>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Date de naissance </label>
            <input type="text" class="form-control" id="validationCustom02" disabled>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom04">Etablissement</label>
            <input type="text" class="form-control" id="validationCustom01" disabled>

          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom04">Filière</label>
            <input type="text" class="form-control" id="validationCustom01" disabled>

          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom04">Niveau</label>
            <input type="text" class="form-control" id="validationCustom01" disabled>

          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  disabled></textarea>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">DIRECTION</label>
            <input type="text" class="form-control"  id="validationCustom01" disabled>

          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">SOUS-DIRECTION</label>
            <input type="text" class="form-control"  id="validationCustom01" disabled>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom04">SERVICES</label>
            <input type="text" class="form-control"  id="validationCustom01" disabled>
          </div>
        </div>

          <div class="col-md-12 mb-3">
            <label for="validationCustom04">ENCADREUR</label>
            <select class="form-control" id="validationCustom04" required>
              <option selected=""  value="">Choose...</option>
              <option *ngFor="let val of listeEncadreur">{{val.name}}</option>
            </select>
          </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">DUREE</label>
            <input type="text" class="form-control"  id="validationCustom01" disabled>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">DATE DEBUT</label>
            <input type="date" class="form-control"  id="validationCustom01" >
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">DATE FIN</label>
            <input type="date" class="form-control"  id="validationCustom01" disabled>
          </div>
        </div>


            <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="bsModalRef.hide()" style="">{{ closeBtnName }}</button>
          <button class="btn btn-primary" type="submit" style="">Assigner</button>
        </div>

      </form>
    </div>
  </div>

</div>



